<form name="recherche" method="post" action="{{ path('recherche_restau') }}" class="grid">
	<select name = "date">
		<option selected="selected">Choisissez une date</option>
		{% for jour in date %}
		<option value = "{{ jour.timestamp }}">{{ jour.jour }}</option>
		{% endfor %}
	</select>
	<input id="nbrPers" name="nbrPers" type="text" placeholder="nombre de personnes">
	<select name = "cat">
		<option value="null" selected="selected">Catégorie (facultatif)</option>
		{% for categorie in listeCat %}
		<option value = "{{ categorie.numCat }}">{{ categorie.nomCat }}</option>
		{% endfor %}
	</select>
	<input class="btn" type="submit" value = "Chercher"  />
</form>