{% extends 'layout_twocolumn.html.twig' %}

{% block aside %}

<nav id="menu">
	<a class="btn admin" href="#infos">Vos informations</a><br>
	<a class="btn admin" href="#menus">Menus & plats</a><br>
	<a class="btn admin" href="#reservations">Réservations</a><br>
	<a class="btn admin" href="#newsletter">Newsletter</a><br>
	<a class="btn admin" href="#aide">Aide</a>
</nav>

{% endblock %}

{% block content %}

	{% set numRest = app.session.get('numRest') %}
	{{ dump(numRest) }}
	{{ dump(data) }}
	{{ dump(liste_categorie) }}

<section id="coordonnees">
	<header><h1>Informations sur le restaurant</h1></header>
		<form name="Coordonnees" method="post"action="{{ path ('enregistrer_coordonnees')}}">	
			<table >
				<tr>
					<td colspan="2"><label for = "Nom"><b>Nom</b></label></td>
					<td colspan="9"><input id="Nom" type="Text" name="Nom" size="50" placeholder="Nom de votre restaurant" value="{{ data.restaurant.nom_restau }}"></td>
				</tr>
				<tr>
					<td colspan="2"><label for = "Adresse"><b>Adresse</b></label></td>
					<td colspan="9"><input id="Adresse" type="Text" name="Adresse" size="50" placeholder="N° Rue, Avenue,Boulevard" value="{{ data.restaurant.rue }}"></td>
				</tr>
				<tr>
					<td colspan="2"><label for="CodePostal"><b>Code postal</b></label></td>
					<td colspan="2"> <input id="CodePostal" type = "Text" name="CodePostal" size="50" value="{{ data.restaurant.cp }}"></td>
				</tr>
				<tr>
					<td colspan="2"><label for="Ville"><b>Ville</b></label></td>
					<td colspan="9"> <input id="Ville" type = "Text" name = "Ville" size = "50" value="{{ data.restaurant.ville }}"></td>
				</tr>
				<tr>
					<td colspan="2"><label for="Telephone"><b>Téléphone</b></label></td>
					<td colspan="4"><input id ="Telephone" type= "Text" name ="Telephone" size = "50" placeholder="+33(0) " value="{{ data.restaurant.tel }}"></td>
				</tr>
				<tr>
					<td colspan="2"><label for ="Email"><b>Email</b></label></td>
					<td colspan="5"> <input id ="Email" type="Text" name="Email" size = "50" placeholder="example@boitemail.com" value="{{ data.restaurant.email }}"></td>
				</tr>
				<tr>
					<td> </td>
					<td> </td>	
					
				</tr>
			</table>
		
</section>
<section id="infos">
		<table>
			<tr>
				<td colspan="3"><label for = "Nombre de tables"><b>Nombre de tables</b></label></td>
				<td colspan="4"><input id="Nombre de tables" type="Text" name="Nombre_tables" size="20"value="{{ data.restaurant.nbTable }}"></td>
			</tr>
			
			<tr>
				<td colspan="3"><label for="Categorie"><b>Catégorie</b></label></td>
				
				<td>
					<select>
						{% set cat = data.restaurant.numCat %}
						{% for categorie in liste_categorie %}
						<option value ="{{ categorie.numCat }}" {% if cat == categorie.numCat %} selected {% endif %}>{{ categorie.nomCat }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="3"><label for="Nombre etoiles"><b>Nombre d'étoiles</b></label></td>
				<td colspan="4"> 
					<select name="Nombre_etoiles" value="{{ data.restaurant.etoiles}}">
						<option value="1" {% if data.restaurant.etoiles == "1" %} selected {% endif %}>1</option>
						<option value="2" {% if data.restaurant.etoiles == "2" %} selected {% endif %}>2</option>
						<option value="3" {% if data.restaurant.etoiles == "3" %} selected {% endif %}>3</option>   
					</select> 
				</td>
			</tr>
			<tr>
				<td colspan="3"><label for ="Formule"><b>Formule</b></label></td>
				<td colspan="4">
					<select name="Formule" value="{{ data.restaurant.formule}}">
						<option value="carte" {% if data.restaurant.formule == "carte" %} selected {% endif %}>Carte</option>
						<option value="menu" {% if data.restaurant.formule == "menu" %} selected {% endif %}>Menu</option>
						<option value="complet" {% if data.restaurant.formule == "complet" %} selected {% endif %}>Complet</option>   
					</select> 
				</td>
			</tr>
			<tr>
				<input type='hidden' name='numRest' value='{{numRest}}'>
				<td colspan="4"><input class="btn" type="submit" value="Enregistrez"> </td>
			</tr>
		</table>
	</form>
</section>
<section>
	<header><h1>Menus et cartes</h1></header>
		<table>
		<tr>
			<td>
				
					<table>
						<tr>
							<td colspan ="5"><h1>Plats</h1></td>
						</tr>
						<tr>
							<td colspan="4"><h4>Entrées</h4></td>
							
							<td><h4>Prix</h4></td>
							
						</tr>
					<form name="Entrees" method="post" action="{{ path ('enregistrer_entree')}}">
						<tr>
							<td colspan="4"><input id="Entree1" type="Text" name="Entree1" size="30"></td>
							<input type='hidden' name='categorie1' value='Entree'>
							<td><input id="PrixEntree1" type="Text" name="PrixEntree1" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Entree2" type="Text" name="Entree2" size="30"></td>
							<input type='hidden' name='categorie2' value='Entree'>
							<td><input id="PrixEntree2" type="Text" name="PrixEntree2" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Entree3" type="Text" name="Entree3" size="30"></td>
							<input type='hidden' name='categorie3' value='Entree'>
							<td><input id="PrixEntree3" type="Text" name="PrixEntree3" size="8"></td>
						
						</tr>
						<tr>
							<td colspan="4"><input id="Entree4" type="Text" name="Entree4" size="30"></td>
							<input type='hidden' name='categorie4' value='Entree'>
							<td><input id="PrixEntree4" type="Text" name="PrixEntree4" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Entree5" type="Text" name="Entree5" size="30"></td>
							<input type='hidden' name='categorie5' value='Entree'>
							<td><input id="PrixEntree5" type="Text" name="PrixEntree5" size="8"></td>
							
						</tr>
						<tr>
							<input type='hidden' name='numRest' value='{{numRest}}'>
							<td colspan="4"><input class ="btn" type="submit" name="EnregistrerEntrees" value = "Enregistrez" ></td>
						</tr>
					</form>
					<form name="Plats" method="post" action="{{ path ('enregistrer_plat')}}" >
						<tr>
							<td colspan="5"> </td>
						</tr>
						<tr>
							<td colspan="4"><h4>Plats</h4></td>
							
							<td><h4>Prix</h4></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Plat1" type="Text" name="Plat1" size="30"></td>
							<input type='hidden' name='catPlat1' value='Plat'>
							<td><input id="PrixPlat1" type="Text" name="PrixPlat1" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Plat2" type="Text" name="Plat2" size="30"></td>
							<input type='hidden' name='catPlat2' value='Plat'>
							<td><input id="PrixPlat2" type="Text" name="PrixPlat2" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Plat3" type="Text" name="Plat3" size="30"></td>
							<input type='hidden' name='catPlat3' value='Plat'>
							<td><input id="PrixPlat3" type="Text" name="PrixPlat3" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Plat4" type="Text" name="Plat4" size="30"></td>
							<input type='hidden' name='catPlat4' value='Plat'>
							<td><input id="PrixPlat4" type="Text" name="PrixPlat4" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Plat5" type="Text" name="Plat5" size="30"></td>
							<input type='hidden' name='catPlat5' value='Plat'>
							<td><input id="PrixPlat5" type="Text" name="PrixPlat5" size="8"></td>
						</tr>
						<tr>
							<input type='hidden' name='numRest' value='{{numRest}}'>
							<td colspan="4"><input class="btn" type="submit" name="EnregistrerPlats" value = "Enregistrez" ></td>
						</tr>
					</form>
					<form name="Desserts" method="post" action="{{ path ('enregistrer_dessert')}}">
						<tr>
							<td colspan="4"><h4>Desserts</h4></td>
							
							<td><h4>Prix</h4></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Dessert1" type="Text" name="Dessert1" size="30"></td>
							<input type='hidden' name='catDessert1' value='Dessert'>
							<td><input id="PrixDessert1" type="Text" name="PrixDessert1" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Dessert2" type="Text" name="Dessert2" size="30"></td>
							<input type='hidden' name='catDessert2' value='Dessert'>
							<td><input id="PrixDessert2" type="Text" name="PrixDessert2" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Dessert3" type="Text" name="Dessert3" size="30"></td>
							<input type='hidden' name='catDessert3' value='Dessert'>
							<td><input id="PrixDessert3" type="Text" name="PrixDessert3" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Dessert4" type="Text" name="Dessert4" size="30"></td>
							<input type='hidden' name='catDessert4' value='Dessert'>
							<td><input id="PrixDessert4" type="Text" name="PrixDessert4" size="8"></td>
							
						</tr>
						<tr>
							<td colspan="4"><input id="Dessert5" type="Text" name="Dessert5" size="30"></td>
							<input type='hidden' name='catDessert5' value='Dessert'>
							<td><input id="PrixDessert5" type="Text" name="PrixDessert5" size="8"></td>
							
						</tr>
						<tr>
							<input type='hidden' name='numRest' value='{{numRest}}'>
							<td colspan="4"><input  class="btn" type="submit" name="EnregistrerDesserts" value = "Enregistrez" ></td>
						</tr>
					</table>
				</form>
				</td>
				<td>
				<form name="Menus1" method="post" action="{{ path ('enregistrer_menu1')}}">
					<table>
						<tr>
							<td colspan="5"><h1>Menus</h1></td>
						</tr>
						<tr>
							<td colspan="4"> </td>
							<td><h4>Prix</h4></td>
						</tr>
						<tr>
							<td colspan="1"><b>Nom</b></td>
							
							<td colspan="3"><input id="NomMenu1" type="text" name="NomMenu" size="30"></td>
							
							<td><input id="PrixMenu1" type="text" name="PrixMenu" size="4"></td>
						</tr>
						<tr>
							<td colspan="1"><b>Entrée</b></td>
							
							<td colspan="3"><input id="EntreeMenu1" type="text" name="EntreeMenu" size="30"></td>
							<input type='hidden' name='catEntreeMenu' value='Entree'>
						</tr>
						<tr>
							<td colspan="1"><b>Plat</b></td>
							
							<td colspan="3"><input id="PlatMenu1" type="text" name="PlatMenu" size="30"></td>
							<input type='hidden' name='catPlatMenu' value='Plat'>
							
						</tr>
						<tr>
							<td colspan="1"><b>Dessert</b></td>
							
							<td colspan="3"><input id="DessertMenu1" type="text" name="DessertMenu" size="30"></td>
							<input type='hidden' name='catDessertMenu' value='Dessert'>
							
						</tr>
						<tr>
							<input type='hidden' name='numRest' value='{{numRest}}'>
							<td colspan="4"><input  class="btn" type="submit" name="EnregistrerMenu1" value = "Enregistrez" ></td>
						</tr>
					</form>
					<form name="Menus2" method="post"action="script_menus.php">
						<tr>
							<td colspan="5">
						</tr>
							<tr>
							<td colspan="4"> </td>
							<td><h4>Prix</h4></td>
						</tr>
						<tr>
							<td colspan="1"><b>Nom</b></td>
							
							<td colspan="3"><input id="NomMenu2" type="text" name="NomMenu" size="30"></td>
							
							<td><input id="PrixMenu2" type="text" name="PrixMenu" size="4"></td>
						</tr>
						<tr>
							<td colspan="1"><b>Entrée</b></td>
							
							<td colspan="3"><input id="EntreeMenu2" type="text" name="EntreeMenu" size="30"></td>
							<input type='hidden' name='catEntreeMenu' value='Entree'>
						</tr>
						<tr>
							<td colspan="1"><b>Plat</b></td>
							
							<td colspan="3"><input id="PlatMenu2" type="text" name="PlatMenu" size="30"></td>
							<input type='hidden' name='catPlatMenu' value='Plat'>
						</tr>
						<tr>
							<td colspan="1"><b>Dessert</b></td>
							
							<td colspan="3"><input id="DessertMenu2" type="text" name="DessertMenu" size="30"></td>
							<input type='hidden' name='catDessertMenu' value='Dessert'>
						</tr>
						<tr>
							<input type='hidden' name='numRest' value='{{numRest}}'>
							<td colspan="4"><input  class="btn" type="submit" name="EnregistrerMenu1" value = "Enregistrez" ></td>
						</tr>
					</form>
					<form name="Menus3" method="post"action="script_menus.php">
						<tr>
							<td colspan="5">
						</tr>
							<tr>
							<td colspan="4"> </td>
							<td><h4>Prix</h4></td>
						</tr>
						<tr>
							<td colspan="1"><b>Nom</b></td>
							
							<td colspan="3"><input id="NomMenu3" type="text" name="NomMenu" size="30"></td>
							
							<td><input id="PrixMenu3" type="text" name="PrixMenu" size="4"></td>
						</tr>
						<tr>
							<td colspan="1"><b>Entrée</b></td>
							
							<td colspan="3"><input id="EntreeMenu3" type="text" name="EntreeMenu" size="30"></td>
							<input type='hidden' name='catEntreeMenu' value='Entree'>
							
						</tr>
						<tr>
							<td colspan="1"><b>Plat</b></td>
							
							<td colspan="3"><input id="PlatMenu3" type="text" name="PlatMenu" size="30"></td>
							<input type='hidden' name='catPlatMenu' value='Plat'>
						</tr>
						<tr>
							<td colspan="1"><b>Dessert</b></td>
							<td colspan="3"><input id="DessertMenu3" type="text" name="DessertMenu" size="30"></td>
							<input type='hidden' name='catDessertMenu' value='Dessert'>
							
						</tr>
						<tr>
							<td colspan="5"> </td>
						</tr>
						<tr>
							<input type='hidden' name='numRest' value='{{numRest}}'>
							<td colspan="5"><input class="btn" type="submit" name="EnregistrerMenus" value="Enregistrez"></td>
						</tr>
				</table>
			</form>
			
		</td>
		</tr>
	</table>
</section>
<section id="reservations">
			
	<header><h1>Réservations</h1></header>
	<table>
		<tr>
			<td colspan="2"><h4>Heure</h4></td>
			<td colspan="2"><h4>Nom</h4></td>
			<td colspan="2"><h4>Couverts</h4></td>
			<td><h4>Message</h4></td>
		</tr>
		<tr>
			<td colspan="2"><input id="HeureResadujour1" type="text" name="Resadujour1" size="10"></td>
			<td colspan="2"><input id="NomResadujour1" type="text" name="NomResadujour1" size="30"> </td>
			<td colspan="2"> <input id="Couvertsresadujour1" type="text" name="CouvertsResadujour1" size="10"> </td>
			<td colspan="1"><a class="btn" href="">Envoyez</a></td>
		</tr>
		<tr>
			<td colspan="2"><input id="HeureResadujour2" type="text" name="Resadujour2" size="10"></td>
			<td colspan="2"><input id="NomResadujour2" type="text" name="NomResadujour2" size="30"> </td>
			<td colspan="2"> <input id="Couvertsresadujour2" type="text" name="CouvertsResadujour2" size="10"> </td>
			<td colspan="1"><a class="btn" href="">Envoyez</a></td>
		</tr>
		<tr>
			<td colspan="2"><input id="HeureResadujour3" type="text" name="Resadujour3" size="10"></td>
			<td colspan="2"><input id="NomResadujour3" type="text" name="NomResadujour3" size="30"> </td>
			<td colspan="2"> <input id="Couvertsresadujour3" type="text" name="CouvertsResadujour3" size="10"> </td>
			<td colspan="1"><a class="btn" href="">Envoyez</a></td>
		</tr>
	</table>
	<h4>Les prochaines</h4>
	<table>
		<tr>
			<td colspan="2"><h4>Heure</h4></td>
			<td colspan="2"><h4>Nom</h4></td>
			<td colspan="2"><h4>Couverts</h4></td>
			<td><h4>Message</h4></td>
		</tr>
		<tr>
			<td colspan="2"><input id="HeureResaAVenir1" type="text" name="HeureResaAVenir1" size="10"></td>
			<td colspan="2"><input id="NomResaAVenir1" type="text" name="NomResaAVenir1" size="30"> </td>
			<td colspan="2"><input id="CouvertsResaAvenir1" type="text" name="CouvertsResaAvenir1" size="10"> </td>
			<td colspan="1"><a class="btn" href="">Envoyez</a></td>
		</tr>
		<tr>
			<td colspan="2"><input id="HeureResaAVenir2" type="text" name="HeureResaAVenir2" size="10"></td>
			<td colspan="2"><input id="NomResaAVenir2" type="text" name="NomResaAVenir2" size="30"> </td>
			<td colspan="2"> <input id="CouvertsResaAvenir2" type="text" name="CouvertsResaAvenir2" size="10"> </td>
			<td colspan="1"><a class="btn" href="">Envoyez</a></td>
		</tr>
		<tr>
			<td colspan="2"><input id="HeureResaAVenir3" type="text" name="HeureResaAVenir3" size="10"></td>
			<td colspan="2"><input id="NomResaAVenir3" type="text" name="NomResaAVenir3" size="30"> </td>
			<td colspan="2"><input id="CouvertsResaAvenir3" type="text" name="CouvertsResaAvenir3" size="10"> </td>
			<td colspan="1"><a class="btn" href="">Envoyez</a></td>
		</tr>
		<tr>
			<td colspan="2"><input id="HeureResaAVenir4" type="text" name="HeureResaAVenir4" size="10"></td>
			<td colspan="2"><input id="NomResaAVenir4" type="text" name="NomResaAVenir4" size="30"> </td>
			<td colspan="2"> <input id="CouvertsResaAvenir4" type="text" name="CouvertsResaAvenir4" size="10"> </td>
			<td colspan="1"><a class="btn" href="">Envoyez</a></td>
		</tr>
		<tr>
			<td colspan="2"><input id="HeureResaAVenir5" type="text" name="HeureResaAVenir5" size="10"></td>
			<td colspan="2"><input id="NomResaAVenir5" type="text" name="NomResaAVenir5" size="30"> </td>
			<td colspan="2"> <input id="CouvertsResaAvenir5" type="text" name="CouvertsResaAvenir5" size="10"> </td>
			<td colspan="1"><a class="btn" href="">Envoyez</a></td>
		</tr>
	</table>
</section>
<section id="newsletter">
	<header><h1>Newsletter</h1></header>
	<textarea id="letexte" rows="10" cols="90" placeholder="Tapez votre texte et envoyez"></textarea><br>
	<input class="btn" type="submit" name="Envoyez" value="Envoyez">
</section>

{% endblock %}