{% extends 'layout_fullscreen.html.twig' %}

    {% block content %}

    {% for alertSuccess in app.session.flashbag.get('msg_suppr') %}
    <p class="msgFalse">{{ alertSuccess }}</p>
    {% endfor %}

    <section id="recherche">

       <img src="{{ asset('/img/Logo_lille_bio.png')}}" alt="logo Lille  Bio" id="logo_lille_bio" />

        {{ include ("formulaire/Recherche.html.twig") }}

        <p id="slogan">Les plus bio restaus, à portée de clic !</p>

    </section>

    <section id="dernier">
        <h1 class="titre accueil">Les p'tits nouveaux !</h1>
        <hr>
        <div class="grid-3 has-gutter">

            {% for restau in listeRestau %}

            <div class="restau">
                <h4><a href="{{ path('restaurant', {'id': restau.num_restau}) }}">{{ restau.nom_restau }}</a></h4>
                <img src="{{ "/LilleBio/web" ~ restau.url_img }}" alt="{{ restau.nom_image }}">
                <p class="lastRestau">{{ restau.nomCat }} 
                {% if restau.etoiles > 0 %}
                     | 
                    {% for i in 1.. restau.etoiles %}
                    <img src="{{ asset('/img/etoile.png') }}" alt="">
                    {% endfor %}
                {% endif %}
                 | {{ restau.ville }}</p>
            </div>

            {% endfor %}



        </div>
        <a href="{#{ path('liste-restaurants') }#}" class="btn">Voir tous les restaurants > </a>
    </section>

     <section id="categorie">

        <h1 class="titre accueil">Catégories</h1>
        <hr>
        {{include("categorie/categorie.html.twig")}}

        <h1 class="titre accueil">Catégories</h1>
        <hr>

        <p>Formulaire d'exemple pour traitement des formulaires, vous pouvez voir comment il est traité en le remplissant et validant. Plus de détails dans les fichiers : app/routes.php et src/Model/Restaurant.php (fonction exemple()).</p>
        <form action="{{ path('exemple') }}" method="post">
            <input type="text" name="champ_01">
            <input type="text" name="champ_02">
            <input type="text" name="champ_03">
            <input type="text" name="champ_04">
            <input type="submit">
        </form>

    </section>

    <section id="comment">
        <h1 class="titre accueil">Comment ça marche ?</h1>
        <hr>
        <div class="grid-3 has-gutter aide">
            <a href="#recherche" class="aide">
                <img src="{{ asset('/img/Recherche.png') }}" alt="Rechercher un restaurant"><br>
                <h4 class="aide">Recherchez votre restaurant</h4>
            </a>
            <a href="#date" class="aide">
                <img src="{{ asset('/img/Date.png') }}" alt="Choisissez une date"><br>
                <h4 class="aide">Choisissez une date</h4>
            </a>
            <a href="#nombre" class="aide">
                <img src="{{ asset('/img/couverts.png') }}" alt="Précisez le nombre de personne"><br>
                <h4 class="aide">Précisez le nombre de personne</h4>
            </a>
            <a href="#envoyer" class="aide">
                <img src="{{ asset('/img/Envoyer.png') }}" alt="Envoyer votre réservation"><br>
                <h4 class="aide">Envoyez votre réservation</h4>
            </a>
            <a href="#modifier" class="aide">
                <img src="{{ asset('/img/Modifier.png') }}" alt="Modifier votre réservation"><br>
                <h4 class="aide">Modifiez votre réservation</h4>
            </a>
            <a href="#payer" class="aide">
                <img src="{{ asset('/img/Payer.png') }}" alt="Payer sur place"><br>
                <h4 class="aide">Payez sur place</h4>
            </a>
        </div>
    </section>

     <section id="restaurateur">
        <h1 class="titre accueil">Vous êtes restaurateur ?</h1>
        <hr>
        <a href="{{ path('inscription_restaurateur') }}"><img src="{{ asset('/img/Banniere_restaurateur.jpg') }}" alt="Vous êtes restaurateur"/></a>

    </section>
{% endblock %}
