{% extends 'layout_fullscreen.html.twig' %}

    {% block content %}
    <section id="recherche">
           <img src="{{ asset('/img/Logo_lille_bio.png')}}" alt="logo Lille  Bio" id="logo_lille_bio" />
           <p id="slogan">Le slogan commercial</p>
    </section>

    <section id="dernier">
        <h1 class="titre">Les derniers</h>
        <hr>
    </section>

     <section id="categorie">
        <h1 class="titre">Catégories</h1>
        <hr>
    </section>

    <section id="comment">
        <h1 class="titre">Comment ça marche ?</h1>
        <hr>
        <div class="grid-3 has-gutter">
            <img src="{{ asset('/img/Recherche.png') }}" alt="Aide recherche un restaurant"/>
            <img src="{{ asset('/img/Date.png') }}" alt="Aide calendrier"/>
            <img src="{{ asset('/img/couverts.png') }}" alt="Aide nombre de couverts"/>
            <img src="{{ asset('/img/Envoyer.png') }}" alt="Aide envoyer la réservation"/>
            <img src="{{ asset('/img/Modifier.png') }}" alt="Aide envoyer la réservation"/>
            <img src="{{ asset('/img/Payer.png') }}" alt="Aide payer plus tard"/>
        </div>
    </section>

     <section id="restaurateur">
        <h1 class="titre">Vous êtes restaurateur ?</h1>
        <hr>
        <a href=""><img src="{{ asset('/img/Banniere_restaurateur.jpg') }}" alt="Vous êtes restaurateur"/></a>

    </section>
    {% endblock %}
