{% extends 'layout_twocolumn.html.twig'%}


{% block aside %}

    {% set date = app.session.get('date') %}
    {% set timestamp = app.session.get('timestamp') %}

    <aside class="reservation">

    <h1>Reservez maintenant !</h1>

        <form name="reservation" method="post" action="{{ path('reservation') }}">
            <input type="hidden" name="numRest" value="{{ dataRest.restaurant.num_restau }}">
            <label for="date">Date</label><br/>
                <select name = "date">
                    <option>Choisissez une date</option>
                    {% for jour in date %}
                    <option {% if timestamp == jour.timestamp %}selected{% endif %} value = "{{ jour.timestamp }}">{{ jour.jour }}</option>
                    {% endfor %}
                </select>
            <label for="heure">Heure</label><br/>
                <select name = "heure">
                    <option selected>Choisissez une heure</option>
                    <option value="12:00:00">12 h 00</option>
                    <option value="13:00:00">13 h 00</option>
                    <option value="19:00:00">19 h 00</option>
                    <option value="20:00:00">20 h 00</option>
                </select>
            <label for="couverts">Nombre de personne(s)</label><br/>
                <input id="couverts" type="number" name="nbPers"><br>
            <label for="nom">Nom</label><br/>
                <input id="nom" type="text" name="nom"><br>
            <label for="prenom">Prénom</label><br/>
                <input id="prenom" type="text" name="prenom"><br>
            <label for="email">Email</label><br/>
                <input id="email" type="email" name="email"><br>
            <label for="telephone">Téléphone</label><br/>
                <input id="telephone" type="text" name="tel"><br/>
            <label for="adresse">Adresse</label><br/>
                <input id="adresse" type="text" name="rue" size="50" placeholder="N° et rue"><br>
                <input id="cp" type="text" name="cp" size="50" placeholder="Code postal"><br>
                <input id="ville" type="text" name="ville" size="50" placeholder="Ville"><br>
            <textarea name="comm" id="comm" rows="3" placeholder="Un commentaire sur cette réservation ?"></textarea>
            <span id="loaderResa" class="btn"><img src="{{ asset('/img/loader.gif') }}" alt=""></span>
            <input id="submitResa"  class="btn" type="submit" value="Réservez">
        </form>

    </aside>
{% endblock %}


{% block content %}

<!--Page du restaurant-->

<section class="restau_container">

    {% for alertSuccess in app.session.flashbag.get('msg_success') %}
    <p class="alert msgFalse">{{ alertSuccess }} <span class="closeBtn" id="closeMsg">X</span></p>
    {% endfor %}

    <h1>{{ dataRest.restaurant.nom_restau }}</h1>

    <img src="{{ "/LilleBio/web" ~ dataRest.restaurant.url_img }}" alt="{{ dataRest.restaurant.nom_image }}" title="{{ dataRest.restaurant.nom_image }}"/><br/>

    <h3>Catégorie : <span class="green">{{ dataRest.restaurant.nomCat }}</span> 
        {% if dataRest.restaurant.etoiles > 0 %}
            {% for i in 1.. dataRest.restaurant.etoiles %}
             | <img src="{{ asset('/img/etoile.png') }}" alt="">
            {% endfor %}
        {% endif %}
         | Ville : <span class="green">    {{ dataRest.restaurant.ville }}</span></h3>

    {% if dataRest.restaurant.formule == "complet" %}

    <section class="fomuleComplet grid has-gutter">
        <div class="menu">
            <h1 class="titre">Menu</h1>
            <h3>Entrée</h3>
            <table>
                {% for entree in dataRest.menu.listeEntrees %}
                    <tr>
                        <td>{{ entree.nomPlat }}</td>
                        <td class="prix">{{ entree.prixPlat }}</td>
                    </tr>
                {% endfor %}
            </table>
            <h3>Plat</h3>
            <table>
                {% for plat in dataRest.menu.listePlats %}
                <tr>
                    <td>{{ plat.nomPlat }}</td>
                    <td class="prix">{{ plat.prixPlat }}</td>
                </tr>
                {% endfor %}
            </table>
            <h3>Dessert</h3>
            <table>
                {% for dessert in dataRest.menu.listeDesserts %}
                <tr>
                    <td>{{ dessert.nomPlat }}</td>
                    <td class="prix">{{ dessert.prixPlat }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="carte">
            <h1 class="titre">A la carte</h1>
            <h3>Les entrées</h3>
            <table>
                {% for entree in dataRest.menu.listeEntrees %}
                    <tr>
                        <td>{{ entree.nomPlat }}</td>
                        <td class="prix">{{ entree.prixPlat }}</td>
                    </tr>
                {% endfor %}
            </table>
            <h3>Les plats</h3>
            <table>
                {% for plat in dataRest.menu.listePlats %}
                <tr>
                    <td>{{ plat.nomPlat }}</td>
                    <td class="prix">{{ plat.prixPlat }}</td>
                </tr>
                {% endfor %}
            </table>
            <h3>Les desserts</h3>
            <table>
                {% for dessert in dataRest.menu.listeDesserts %}
                <tr>
                    <td>{{ dessert.nomPlat }}</td>
                    <td class="prix">{{ dessert.prixPlat }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    {% elseif dataRest.restaurant.formule == "carte" %}

    <section class="fomuleCarte">
        <h1 class="titre">Carte</h1>
        <div class="carte grid has-gutter">
            <div class="entree">
                <h3>Les entrées</h3>
                <table>
                    {% for entree in dataRest.carte.listeEntrees %}
                    <tr><td>{{ entree.nomPlat }}</td><td class="prix">{{ entree.prixPlat }} €</td></tr>
                    {% endfor %}
                </table>
            </div>
            <div class="entree">
                <h3>Les plats</h3>
                <table>
                    {% for plat in dataRest.carte.listePlats %}
                    <tr><td>{{ plat.nomPlat }}</td><td class="prix">{{ plat.prixPlat }} €</td></tr>
                    {% endfor %}
                </table>
            </div>
            <div class="entree">
                <h3>Les desserts</h3>
                <table>
                    {% for dessert in dataRest.carte.listeDesserts %}
                    <tr><td>{{ dessert.nomPlat }}</td><td class="prix">{{ dessert.prixPlat }} €</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>

    {% elseif dataRest.restaurant.formule == "menu" %}

    <section class="fomuleCarte">
        <h1 class="titre">Menu unique</h1>
        <div class="menu grid has-gutter">
            <div class="entree">
                <h3>Les entrées</h3>
                <table>
                    {% for entree in dataRest.menu.listeEntrees %}
                    <tr><td>{{ entree.nomPlat }}</td><td class="prix">{{ entree.prixPlat }} €</td></tr>
                    {% endfor %}
                </table>
            </div>
            <div class="entree">
                <h3>Les plats</h3>
                <table>
                    {% for plat in dataRest.menu.listePlats %}
                    <tr><td>{{ plat.nomPlat }}</td><td class="prix">{{ plat.prixPlat }} €</td></tr>
                    {% endfor %}
                </table>
            </div>
            <div class="entree">
                <h3>Les desserts</h3>
                <table>
                    {% for dessert in dataRest.menu.listeDesserts %}
                    <tr><td>{{ dessert.nomPlat }}</td><td class="prix">{{ dessert.prixPlat }} €</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>

    {% endif %}


    <h1 class="titre">Informations</h1>
    <p>
        <adress>
            <strong>{{ dataRest.restaurant.nom_restau }}</strong><br>
            {{ dataRest.restaurant.rue }}<br>
            {{ dataRest.restaurant.cp }} - 
            {{ dataRest.restaurant.ville }}<br>
        </adress>
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80985.23060023236!2d2.977120494791568!3d50.63104650746587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d579b3256e11%3A0x40af13e81646360!2s{{ dataRest.restaurant.ville }}!5e0!3m2!1sfr!2sfr!4v1485445413881" display="block" width="600" margin="auto" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</section>

{% endblock %}